.amarcord-logo {
    height: 2.5em;
    margin-right: 1em;
}

[data-tooltip]:before {
    /* needed - do not touch */
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;

    /* customizable */
    transition: all 0.05s ease;
    padding: 10px;
    color: #333;
    /* box-shadow: 2px 2px 1px silver; */
    box-shadow:  0 .125rem .25rem rgba(0,0,0,.075);
}

[data-tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 0.9;

    border: 0;
    border-radius: 0.25rem;

    /* customizable */
    background: #0d6efd;
    color: white;
    margin-top: -50px;
    margin-left: 20px;
}

[data-tooltip]:not([data-tooltip-persistent]):before {
    pointer-events: none;
}

/* see https://stackoverflow.com/questions/21168521/table-fixed-header-and-scrollable-body */
.amarcord-table-fix-head          { overflow: auto; height: 100px; }
.amarcord-table-fix-head thead th { position: sticky; top: 0; z-index: 1; background: white; }

.amarcord-alert-small {
    padding: 0.5rem !important;
}

/* This needs some more work. */
/*.amarcord-alert-small .btn-close {*/
/*    font-size: 0.5rem !important;*/
/*}*/

.amarcord-small-link-button {
    padding: 0 !important;
}