astroid==2.4.2
certifi==2020.12.5
chardet==4.0.0
idna==2.10
isort==5.7.0
karabo-bridge==0.6.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
metadata-client==3.0.8
msgpack==1.0.2
msgpack-numpy==0.4.7.1
mypy==0.800
mypy-extensions==0.4.3
numpy==1.19.5
oauth2-xfel-client==6.0.0
oauthlib==3.1.0
pylint==2.6.0
PyQt5==5.15.2
PyQt5-sip==12.8.1
PyQt5-stubs==5.14.2.2
pytz==2020.5
pyzmq==22.0.1
requests==2.25.1
requests-oauthlib==1.3.0
six==1.15.0
toml==0.10.2
typed-ast==1.4.2
typing-extensions==3.7.4.3
urllib3==1.26.3
wrapt==1.12.1
